li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: calc(100% - var(--input-padding-right));
  padding-top: var(--input-padding-top-bottom);
  padding-bottom: var(--input-padding-top-bottom);
  padding-right: var(--input-padding-right);
  border: 1px solid rgb(184, 183, 182);
  border-top: 0;
  background-color: white;
}

li .ListItemContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 0.5rem;
}

li .ListItemBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: var(--input-padding-left);
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
}

.btn-delete {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: antiquewhite;
  border: 2px solid gray;
  font-size: 1rem;
}

.btn-delete:hover {
  background-color: aliceblue;
}

.btn-delete:active {
  background: #ffe9e9;
  border: 1px solid gray;
}

.ListItemContentTextThrough {
  text-decoration: line-through;
  color: gray;
}