.content {
  padding: 1rem 10rem;
  height: 100%;
  overflow: auto;
  
}

input {
  outline: none;
  width: calc(100% - 1rem);
  padding: 1rem 0.5rem;
  margin: 0;
  border: 1px solid rgb(184, 183, 182);
  font-size: 1rem;
}

li {
  list-style-type: none;
  padding: 1rem 0.5rem;
  width: calc(100% - 1rem);
  border: 1px solid rgb(184, 183, 182);
  border-top: 0;
  background-color: white;
}

ul {
  padding-left: 0;
  margin: 0;
}

li .ListItemContent {
  display: flex;
  justify-content: space-between;
  padding-right: 0.5rem;
}

.btn-delete {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: antiquewhite;
  border: 2px solid gray;
  font-size: 1rem;
}

.btn-delete:hover {
  background-color: aliceblue;
}

.btn-delete:active {
  background: #ffe9e9;
  border: 1px solid gray;
}